/* app css stylesheet */
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');


body {
  background-color:#464c57;
}

p {
  color:black;
  font-family: "Comic Sans MS", sans-serif;
}

.cardInput {
  background-color: white;
  border-radius: 20px;
  min-height: 70px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
}

.cardObject {
  background-color: white;
  border-radius: 20px;
  min-height: 193px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.menu {
  display:flex;
  justify-content: center;
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  color:white;
  font-family: 'Fredoka One', cursive;
  font-size: 72px;

}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;

}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

#messageArea {
  margin-top: 10px;
  border:none;
  border-bottom: #464c57 solid 2px;
}

#submitButton {
  background-color: cadetblue;
  color: white;
  border: none;

}
#deleteButton {
  width: 100px;
  background-color: darkred;
  color: white;
  border: none;
  margin: auto;
}

#messageBra {
word-wrap: break-word;
  margin-left: 34px;
  margin-right: 34px;
    margin-top: -10px;
}

#iconForClosing {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
    margin-top: 15px;
    color:#464c57;
}

#iconForClosing:hover {
    color: #222222;
    cursor: pointer;
}


