<div class="cardInput">
    <form novalidate>
        <textarea id="messageArea" name="message" rows="1" cols="50" ng-focus="areaOfEffect()"
                  ng-blur="notAreaOfEffect()" ng-model="myText" placeholder="What's on your mind?" maxlength="140">
        </textarea>
        <input type="submit" value="Publish" id="submitButton" ng-click="pushingForward()">
    </form>

</div>


<div class="cardObject" ng-repeat="user in users">
    <i id="iconForClosing" class="fas fa-times fa-lg" ng-click="removeCard(user._id)"></i>
    <p id="messageBra">{{user.message}} </p>
    <p id="dateBra">{{user.date | date: "EEEE, MMMM d h:m:ss, y"}}</p>
    <!--<button ng-click="removeCard(user._id)" id="deleteButton">Delete card</button>-->
</div>
