<div ng-init="init()">
    <div class="loginPage">
        <div class="loginSquare">
            <p class="loginDetails">New Password:</p>
            <div class="input-wrapper">
            <input type="password" placeholder="Password" ng-model="newPassword" class="logininput" id="newpassword">
            <label for="newpassword" class="fa fa-lock input-icon"></label>
            </div>
            <p class="loginDetails">Repeat Password:</p>
            <div class="input-wrapper">
            <input type="password" placeholder="Repeated password" ng-model="newPassword2" class="logininput"
                   id="newpassword2">
            <label for="newpassword2" class="fa fa-lock input-icon"></label>
            </div>

            <button class="buttonLogin" ng-click="changePassword()">Change password</button>
            <h5 style="color:red">{{error}}</h5>
        </div>
    </div>

</div>