<div ng-init="init()">
    <div class="loginPage">
    <h2 class="loginsignup">Log in to Bookface</h2>

   <div class="loginSquare">
       <p class="loginDetails">Username:</p>
       <div class="input-wrapper">
    <input type="text" placeholder="username" ng-model="username" class="logininput" id="username">
           <label for="username" class="fa fa-user input-icon"></label>
   </div>
      <p class="loginDetails">Password:</p>
       <div class="input-wrapper">
    <input type="password" placeholder="password" ng-model="password" class="logininput" id="password">
           <label for="password" class="fa fa-key input-icon"></label>
    </div>
    <button ng-click="login()" class="buttonLogin">Log in</button>
       <h5 class="errorMessage">{{error}}</h5>
        <p>Dont have an account?</p> <a href="#!/signUp" class="sigup">Sign up here</a>
        </div>
    </div>
</div>